.header {
  
  &::before {
    content: url('~/public/logo.png');
    position: absolute;
    left: 50px;
  }

  & img {
    height: 20px;
  }

  &__nav {

    @media (max-width: 800px) {
      display: none !important;
    }
  }
}